@import 'design-tokens-italia/css/_variables.css';

/* define color variables */
:root {
  --teal: #07768d;
  --tealDark: #0f4b57;
}

/* define root class */
:root {
  --primaryColor: var(--teal);
}

/* font family define */
body {
  font-family: var(--font-sans);
}

/* Utility Classes */
.ml-10px {
  margin-left: 10px;
}

.bgTeal {
  background-color: var(--teal) !important;
}

.bgDarkTeal {
  background-color: var(--tealDark) !important;
}

/* HEADER UI STYLING  */

.it-header-slim-links {
  .leftHeadingLink {
    font-weight: var(--heading-4-font-weight);
    line-height: var(--lead-font-size-lg);
  }
}

.top-slim-dropdown {
  & button {
    background-color: transparent !important;

    &:focus,
    &:focus-visible {
      outline: 0;
      border: 0;
    }
  }

  .dropdown-menu.show[data-popper-placement='bottom-start'] {
    top: 26px !important ;
  }

  & li {
    a {
      color: #000 !important;
    }
  }
}

.avatarLink {
  .avatarLabel {
    font-weight: var(--heading-4-font-weight);
    line-height: 100%;
    font-size: var(--heading-6-font-size);
  }
}

.it-nav-center-wrapper {
  & .logoWrapper {
    width: 72px;
    height: 72px;
  }

  & .logoText {
    & h1 {
      font-weight: var(--heading-1-font-weight);
      font-size: var(--heading-2-font-size);
      line-height: var(--heading-3-line-height-lg);
      padding: 0;
      margin: 0;
    }
    & h6 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #ffffff;
      margin: 0;
      padding: 0;
    }
  }

  & .it-header-middle-links {
    /* max-width: 421px; */
    width: auto;
    gap: 84px;

    .src-btn {
      outline: 0;
      border: 0;
    }
  }
}
