@import 'design-tokens-italia/css/_variables.css';

/* define color variables */
:root {
  --teal: #07768d;
  --tealDark: #0f4b57;
  --darkGreen: #03313a;
  --tealLight: #f4fafb;
  --purple: #9c0769;
  --grayish-cyan: #cde9ee;
  --dark-gray: #1a1a1a;
}

/* define root class */
:root {
  --primaryColor: var(--teal);
  --textColor: var(--dark-gray);
  --sidebarWidth: 298px;
}

/* font family define */
body {
  font-family: var(--font-sans);
}

/* Utility Classes */
.ml-10px {
  margin-left: 10px;
}

.no-padding-tablet {
  @media (max-width: 991px) {
    height: 48px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.teal-bg {
  background-color: var(--teal) !important;
}

.teal-dark-bg {
  background-color: var(--tealDark) !important;
}

.teal-light-bg {
  background-color: var(--tealLight) !important;
}

.darkGreen-bg {
  background-color: var(--darkGreen) !important;
}

.border-color-grayish-cyan {
  border-color: var(--grayish-cyan) !important;
}

.text-purple {
  color: var(--purple) !important;
}

.text-teal {
  color: var(--teal);
}

/* -------------------------------- 
          Header UI START here
--------------------------------- */
.it-header-slim-links {
  @media (max-width: 991px) {
    height: 100%;
  }
  .leftHeadingLink {
    font-weight: var(--font-weight-semibold);
    line-height: var(--font-size-5);
  }
}

@media (max-width: 767.98px) {
  .top-slim-dropdown {
    display: block !important;
  }
}

.top-slim-dropdown {
  padding-right: 0;

  @media (min-width: 992px) {
    padding-right: var(--spacing-m);
  }

  & button {
    background-color: transparent !important;
    padding-right: 6.4px;
    padding-left: 6.4px;

    @media (min-width: 992px) {
      padding-right: 16px;
      padding-left: 16px;
    }

    .label {
      margin-right: var(--spacing-xs);

      @media (min-width: 992px) {
        margin-right: var(--spacing-s);
      }
    }

    &:focus,
    &:focus-visible {
      outline: 0;
      border: 0;
    }
  }

  .dropdown-menu.show[data-popper-placement='bottom-start'] {
    top: 26px !important ;
  }

  & li {
    a {
      color: #000 !important;
    }
  }
}

.avatarLink {
  .avatarLabel {
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
    font-size: var(--font-size-2);
  }
}

.it-nav-center-wrapper {
  & .logoWrapper {
    width: 72px;
    height: 72px;

    & img {
      width: 100%;
      height: auto;
    }
  }

  & .branding {
    & .logoContainer {
      height: 36px;
      width: 36px;
      position: relative;
      margin-right: 8px;
      object-fit: contain;

      @media (min-width: 992px) {
        margin-right: 16px;
        height: 72px;
        width: 72px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  & .logoText {
    & .h1 {
      font-weight: var(--heading-4-font-weight);
      font-size: var(--heading-5-font-size);
      line-height: var(--heading-5-line-height);
      padding: 0;
      margin: 0;

      @media (min-width: 992px) {
        font-weight: var(--heading-1-font-weight);
        font-size: var(--heading-2-font-size);
        line-height: var(--heading-3-line-height-lg);
      }
    }

    & .branding-tagline {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #ffffff;
      margin: 0;
      padding: 0;
    }
  }

  & .it-header-middle-links {
    /* max-width: 421px; */
    width: auto;
    gap: 84px;

    .src-btn {
      outline: 0;
      border: 0;
    }
  }
}

.it-header-middle-menu-wrapper {
  min-height: 56px;

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & li {
      padding: 12.5px 16px;
      border-bottom: 3px solid transparent;
      transition: all ease-in-out 0.3s;

      & a {
        font-weight: var(--font-weight-semibold);
        text-decoration: none;
        font-size: var(--font-size-3);
        line-height: 100%;
        align-items: center;
      }

      &:hover {
        border-color: #fff !important;
      }
    }

    /* & .activeLink {
      border-color: #fff !important;
    } */
  }
}

/* bottom bar style */
.it-header-slim-left-zone-bottom {
  .it-header-slim-left-zone-bottom-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxl);

    @media (max-width: 991px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  .label {
    color: var(--textColor);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-1);
    line-height: var(--font-line-height-xxs);
    padding: 4px 0;
  }

  .it-phone-number {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-1);
    line-height: var(--font-line-height-xs);
    letter-spacing: 0;
    color: var(--textColor) !important;

    &:hover {
      text-decoration: none;
    }
  }
}

/* tablet drawer */
.default-nav-drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-drawer-wrapper {
  .default-nav-drawer {
    top: 0;
    width: var(--sidebarWidth);
    height: 100vh;
    background-color: white;
    z-index: 1050;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1041;

    .nav-drawer-branding-container {
      margin-top: var(--spacing-xxl);

      & .h1 {
        color: var(--teal);
        font-weight: var(--heading-5-font-weight);
        font-size: var(--heading-5-font-size);
        line-height: var(--heading-5-line-height);
      }
    }

    .nav-drawer-menu-container {
      padding: 56px 12px;
    }

    .nav-drawer-social-container {
      padding: 0 12px;

      & h6 {
        color: #2f475e;
        letter-spacing: 0;
      }
    }
  }

  .closeBtn {
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background-color: transparent;
    left: calc(var(--sidebarWidth) + 29px);
    width: fit-content;
  }
}

/* -------------------------------- 
          Header UI END here
--------------------------------- */

/* -------------------------------- 
          Footer UI start here
--------------------------------- */

.it-footer-wrapper {
  padding: 40px 0;

  & .it-branding-wrapper {
    margin-bottom: 32px;
    & .branding {
      @media (min-width: 992px) {
        margin-bottom: 40px;
      }

      & .logoContainer {
        height: 36px;
        width: 36px;
        position: relative;
        margin-right: 8px;
        object-fit: contain;

        @media (min-width: 992px) {
          margin-right: 16px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  & .it-footer-menu-container {
    & h6 {
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-2);

    }

    & .it-footer-menu-link {
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-regular);
      line-height: var(--font-line-height-xs);
      text-decoration: underline;
      color: #fff;
      margin-bottom: 8px;
    }
  }
}

/* -------------------------------- 
          Footer UI start here
--------------------------------- */
